In [249]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsRegressor
from sklearn import metrics

In [250]:
pd.set_option('display.max_columns',None)
nba = pd.read_csv("E:/Malika/Assignment/nba_2013.csv")

In [251]:
nba.head()

,player,pos,age,bref_team_id,g,gs,mp,fg,fga,fg.,x3p,x3pa,x3p.,x2p,x2pa,x2p.,efg.,ft,fta,ft.,orb,drb,trb,ast,stl,blk,tov,pf,pts,season,season_end
0,Quincy Acy,SF,23,TOT,63,0,847,66,141,0.468,4,15,0.266667,62,126,0.492063,0.482,35,53,0.660,72,144,216,28,23,26,30,122,171,2013-2014,2013
1,Steven Adams,C,20,OKC,81,20,1197,93,185,0.503,0,0,NaN,93,185,0.502703,0.503,79,136,0.581,142,190,332,43,40,57,71,203,265,2013-2014,2013
2,Jeff Adrien,PF,27,TOT,53,12,961,143,275,0.520,0,0,NaN,143,275,0.520000,0.520,76,119,0.639,102,204,306,38,24,36,39,108,362,2013-2014,2013
3,Arron Afflalo,SG,28,ORL,73,73,2552,464,1011,0.459,128,300,0.426667,336,711,0.472574,0.522,274,336,0.815,32,230,262,248,35,3,146,136,1330,2013-2014,2013
4,Alexis Ajinca,C,25,NOP,56,30,951,136,249,0.546,0,1,0.000000,136,248,0.548387,0.546,56,67,0.836,94,183,277,40,23,46,63,187,328,2013-2014,2013

In [252]:
nba.isnull().sum()

player           0
pos              0
age              0
bref_team_id     0
g                0
gs               0
mp               0
fg               0
fga              0
fg.              2
x3p              0
x3pa             0
x3p.            67
x2p              0
x2pa             0
x2p.             3
efg.             2
ft               0
fta              0
ft.             20
orb              0
drb              0
trb              0
ast              0
stl              0
blk              0
tov              0
pf               0
pts              0
season           0
season_end       0
dtype: int64

In [253]:
# Fill null value columns with its mean value
nba["ft."] = nba["ft."].fillna(nba["ft."].mean())
nba["efg."] = nba["efg."].fillna(nba["efg."].mean())
nba["x2p."] = nba["x2p."].fillna(nba["x2p."].mean())
nba["x3p."] = nba["x3p."].fillna(nba["x3p."].mean())
nba["fg."] = nba["fg."].fillna(nba["fg."].mean())

In [254]:
nba.isnull().sum()

player          0
pos             0
age             0
bref_team_id    0
g               0
gs              0
mp              0
fg              0
fga             0
fg.             0
x3p             0
x3pa            0
x3p.            0
x2p             0
x2pa            0
x2p.            0
efg.            0
ft              0
fta             0
ft.             0
orb             0
drb             0
trb             0
ast             0
stl             0
blk             0
tov             0
pf              0
pts             0
season          0
season_end      0
dtype: int64

In [255]:
nba.describe()

,age,g,gs,mp,fg,fga,fg.,x3p,x3pa,x3p.,x2p,x2pa,x2p.,efg.,ft,fta,ft.,orb,drb,trb,ast,stl,blk,tov,pf,pts,season_end
count,481.000000,481.000000,481.000000,481.000000,481.000000,481.000000,481.000000,481.000000,481.000000,481.000000,481.000000,481.000000,481.000000,481.000000,481.000000,481.000000,481.000000,481.000000,481.000000,481.000000,481.000000,481.000000,481.000000,481.000000,481.000000,481.000000,481.0
mean,26.509356,53.253638,25.571726,1237.386694,192.881497,424.463617,0.436436,39.613306,110.130977,0.285111,153.268191,314.332640,0.466947,0.480752,91.205821,120.642412,0.722419,55.810811,162.817048,218.627859,112.536383,39.280665,24.103950,71.862786,105.869023,516.582121,2013.0
std,4.198265,25.322711,29.658465,897.258840,171.832793,368.850833,0.098467,50.855639,132.751732,0.146218,147.223161,294.174554,0.104121,0.099344,103.667725,131.240639,0.156794,62.101191,145.348116,200.356507,131.019557,34.783590,30.875381,62.701690,71.213627,470.422228,0.0
min,19.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2013.0
25%,23.000000,32.000000,0.000000,388.000000,47.000000,110.000000,0.401000,0.000000,3.000000,0.262626,31.000000,67.000000,0.434783,0.451000,16.000000,22.000000,0.657000,12.000000,43.000000,55.000000,20.000000,9.000000,4.000000,21.000000,44.000000,115.000000,2013.0
50%,26.000000,61.000000,10.000000,1141.000000,146.000000,332.000000,0.437000,16.000000,48.000000,0.314607,110.000000,227.000000,0.473779,0.487000,53.000000,73.000000,0.750000,35.000000,135.000000,168.000000,65.000000,32.000000,14.000000,58.000000,104.000000,401.000000,2013.0
75%,29.000000,76.000000,54.000000,2016.000000,307.000000,672.000000,0.479000,68.000000,193.000000,0.366460,230.000000,459.000000,0.513120,0.525000,126.000000,179.000000,0.816000,73.000000,230.000000,310.000000,152.000000,60.000000,32.000000,108.000000,158.000000,821.000000,2013.0
max,39.000000,83.000000,82.000000,3122.000000,849.000000,1688.000000,1.000000,261.000000,615.000000,1.000000,706.000000,1408.000000,1.000000,1.000000,703.000000,805.000000,1.000000,440.000000,783.000000,1114.000000,721.000000,191.000000,219.000000,295.000000,273.000000,2593.000000,2013.0

In [256]:
# New data frame with few dropped columns 
nba_withdroppedcolumns = nba.drop(['player','age','pos','bref_team_id','season','season_end'], axis=1)

In [257]:
nba_withdroppedcolumns.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 481 entries, 0 to 480
Data columns (total 25 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   g       481 non-null    int64
 1   gs      481 non-null    int64
 2   mp      481 non-null    int64
 3   fg      481 non-null    int64
 4   fga     481 non-null    int64
 5   fg.     481 non-null    float64
 6   x3p     481 non-null    int64
 7   x3pa    481 non-null    int64
 8   x3p.    481 non-null    float64
 9   x2p     481 non-null    int64
 10  x2pa    481 non-null    int64
 11  x2p.    481 non-null    float64
 12  efg.    481 non-null    float64
 13  ft      481 non-null    int64
 14  fta     481 non-null    int64
 15  ft.     481 non-null    float64
 16  orb     481 non-null    int64
 17  drb     481 non-null    int64
 18  trb     481 non-null    int64
 19  ast     481 non-null    int64
 20  stl     481 non-null    int64
 21  blk     481 non-null    int64
 22  tov     481 non-null    int64
 23  pf      481 non-null    int64
 24  pts     481 non-null    int64
dtypes: float64(5), int64(20)
memory usage: 94.1 KB

In [258]:
# Normalizing the x values
nba_new = nba_withdroppedcolumns.apply(lambda x: (x - x.min()) / (x.max() - x.min()))
nba_new.head()

,g,gs,mp,fg,fga,fg.,x3p,x3pa,x3p.,x2p,x2pa,x2p.,efg.,ft,fta,ft.,orb,drb,trb,ast,stl,blk,tov,pf,pts
0,0.756098,0.000000,0.271067,0.077739,0.083531,0.468,0.015326,0.024390,0.266667,0.087819,0.089489,0.492063,0.482,0.049787,0.065839,0.660,0.163636,0.183908,0.193896,0.038835,0.120419,0.118721,0.101695,0.446886,0.065947
1,0.975610,0.243902,0.383211,0.109541,0.109597,0.503,0.000000,0.000000,0.285111,0.131728,0.131392,0.502703,0.503,0.112376,0.168944,0.581,0.322727,0.242656,0.298025,0.059639,0.209424,0.260274,0.240678,0.743590,0.102198
2,0.634146,0.146341,0.307594,0.168433,0.162915,0.520,0.000000,0.000000,0.285111,0.202550,0.195312,0.520000,0.520,0.108108,0.147826,0.639,0.231818,0.260536,0.274686,0.052705,0.125654,0.164384,0.132203,0.395604,0.139607
3,0.878049,0.890244,0.817366,0.546525,0.598934,0.459,0.490421,0.487805,0.426667,0.475921,0.504972,0.472574,0.522,0.389758,0.417391,0.815,0.072727,0.293742,0.235189,0.343967,0.183246,0.013699,0.494915,0.498168,0.512919
4,0.670732,0.365854,0.304390,0.160188,0.147512,0.546,0.000000,0.001626,0.000000,0.192635,0.176136,0.548387,0.546,0.079659,0.083230,0.836,0.213636,0.233716,0.248654,0.055479,0.120419,0.210046,0.213559,0.684982,0.126494

In [259]:
x = nba_new
y = nba_new['pts']

In [260]:
# spliting data randomly for training and testing
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=0)

In [261]:
# To find the increasing neighbour K values and their regression score

for k in range(10):
    k_value = k + 1
    knn = KNeighborsRegressor(n_neighbors = k_value)
    knn.fit(x_train, y_train) 
    y_pred = knn.predict(x_test)
    print ("Regression score is:",format(metrics.r2_score(y_test, y_pred),'.4f'), "for k_value:", k_value)

Regression score is: 0.9337 for k_value: 1
Regression score is: 0.9499 for k_value: 2
Regression score is: 0.9622 for k_value: 3
Regression score is: 0.9661 for k_value: 4
Regression score is: 0.9633 for k_value: 5
Regression score is: 0.9618 for k_value: 6
Regression score is: 0.9620 for k_value: 7
Regression score is: 0.9607 for k_value: 8
Regression score is: 0.9630 for k_value: 9
Regression score is: 0.9632 for k_value: 10

In [262]:
# K = 4 gives the higest regression score
knn = KNeighborsRegressor(n_neighbors = 4)
knn.fit(X_train, y_train) 
y_pred = knn.predict(X_test)
print ("Mean Squared Error is:", format(metrics.mean_squared_error(y_test, y_pred), '.7f'))
print ("Regression score is:", format(metrics.r2_score(y_test, y_pred),'.4f'))

Mean Squared Error is: 0.0009654
Regression score is: 0.9661